<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_WebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51789/WebService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_WebService" contract="WebService"
                name="BasicHttpBinding_WebService" />
        </client>
    </system.serviceModel>
</configuration>
