<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.3" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="WebActivator" version="1.5" />
</packages>