@model SymbolSource.Server.Basic.InfoViewModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SymbolSource Server Basic</title>
    <link rel="shortcut icon" href="/favicon.png" />
</head>
<body>
    <h1>SymbolSource Server Basic</h1>
    
    <p>@Html.ActionLink("Run self-diagnostics", "Diagnostics")</p>

    <h2>Visual Studio Debugging URL</h2>
    <p>
        <strong><code>@Model.VisualStudioUrl</code></strong>
    </p>
    <p>
        <a href="http://www.symbolsource.org/Public/Home/VisualStudio">See the recommended configuration</a>
    </p>
    <h2>NuGet - Feed repository</h2>
    <p>
        <code>nuget list -Source </code><strong><code>@Model.NuGetFeedUrl</code></strong>
    </p>
    <h2>NuGet - Pushing packages</h2>
    <p>
        <code>nuget push *.symbols.nupkg 123 -Source </code><strong><code>@Model.NuGetPushUrl</code></strong>
    </p>
</body>
</html>