<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="log4net" version="1.2.10" allowedVersions="[1.2.10] " />
  <package id="Mono.Cecil" version="0.9.5.1" />
  <package id="SymbolSource.Microsoft.Cci.Metadata" version="1.0.65055.0" />
</packages>