<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AttributeRouting" version="3.1.2" targetFramework="net40" />
  <package id="AttributeRouting.Core" version="3.1.2" targetFramework="net40" />
  <package id="AttributeRouting.Core.Web" version="3.1.2" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="log4net" version="1.2.10" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.50813.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="NuGet.Core" version="2.1.0" targetFramework="net40" />
  <package id="WebActivator" version="1.5.1" targetFramework="net40" />
</packages>