<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.0.1" targetFramework="net451" />
  <package id="elmah.corelibrary" version="1.2.1" targetFramework="net451" />
  <package id="Glimpse" version="0.86" targetFramework="net451" />
  <package id="Glimpse.Elmah" version="0.9.7" targetFramework="net451" />
  <package id="Glimpse.Log4Net" version="0.86.2" targetFramework="net451" />
  <package id="Glimpse.Mvc3" version="0.86" targetFramework="net451" />
  <package id="log4net" version="1.2.10" targetFramework="net451" allowedVersions="[1.2.10]" />
</packages>