<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AttributeRouting" version="3.5.6" targetFramework="net451" />
  <package id="AttributeRouting.Core" version="3.5.6" targetFramework="net451" />
  <package id="AttributeRouting.Core.Web" version="3.5.6" targetFramework="net451" />
  <package id="elmah" version="1.2.2" targetFramework="net451" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net451" />
  <package id="Glimpse" version="1.8.6" targetFramework="net451" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net451" />
  <package id="Glimpse.Elmah" version="1.1.1" targetFramework="net451" />
  <package id="Glimpse.Log4Net" version="1.0.0" targetFramework="net451" />
  <package id="Glimpse.Mvc5" version="1.5.3" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="WebActivator" version="1.0.0.0" targetFramework="net451" />
  <package id="WebActivatorEx" version="2.0.5" targetFramework="net451" />
</packages>