<?xml version="1.0"?>
<configuration>
    <system.web>
      <httpHandlers>
        <clear/>
        <add verb="*" path="*" type="System.Web.HttpForbiddenHandler"/>
      </httpHandlers>
    </system.web>

  <system.webServer>
    <handlers>
      <clear/>
      <add name="Deny" verb="*" path="*.config" type="System.Web.HttpForbiddenHandler"/>
    </handlers>
  </system.webServer>
</configuration>
